#four-pointed-star{
    position:relative;
    
    width:17px;
    font-size:17px;
  }
  
  #four-pointed-star:before{
    content:"";
    position:absolute;
    background:rgb(0, 0, 0);
    width:17px;
    height:17px;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }
  
  #four-pointed-star:after{
    content:"";
    position:absolute;
    background:rgb(0, 0, 0);
    width:17px;
    height:17px;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }